@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #e82574;
    --primary-color-dark: #bc1c5c;
    --text-dark: #0c0a09;
    --text-light: #78716c;
    --white-color: #fff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 80px 16px;
}

.section__subheader {
    margin-bottom: 8px;
    position: relative;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--text-dark);
}

.section__subheader::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translate(16px, -50%);
    height: 2px;
    width: 64px;
    background-color: var(--primary-color);
}

.section__header {
    max-width: 600px;
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    color: var(--text-dark);
}

.section__description {
    max-width: 600px;
    margin-bottom: 16px;
    color: var(--text-light);
}

.btn {
    padding: 12px 24px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--primary-color-dark);
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

.logo {
    max-width: 120px;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    background-image: url(assets/header.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    position: fixed;
    isolation: isolate;
    top: 0;
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    z-index: 9;
}

.nav__bar {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    background-color: var(--primary-color);
}

.nav__menu__btn {
    font-size: 24px;
    color: var(--white-color);
    cursor: pointer;
}

.nav__links {
    list-style: none;
    position: absolute;
    width: 100%;
    padding: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    background-color: rgba(188, 28, 92, 0.9);
    transform: translateY(-100%);
    transition: 0.5s;
    z-index: -1;
}

.nav__links.open {
    transform: translateY(0);
}

.nav__links a {
    position: relative;
    isolation: isolate;
    padding-bottom: 8px;
    color: var(--white-color);
    transition: 0.3s;
}

.nav__btn {
    display: none;
} 